// FONTS
$fontMainHeading: 'RalewayBold';
$fontItemsHead-1: 'LatoRegular';
$fontItemsHead-2: 'LatoBold';
$fontMainText: 'LatoLight';
$fontAddText: 'LatoThin';

$mainFontSize: 16px;
//---font weight---
$font-ex-light: 200;
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
// FONTS/

// COLORS
$color-main: #002163;
$color-secondary: #00C994;
$color-bg-items-1: #EEEEEE;
$color-bg-items-2: #ffffff;
$color-bg-items-3: #EFEFEF;
$color-bg-items-4: #D1D3D4;
$color-item-passive: #919191;

$color-text: #000000;
$color-form: #c4c4c4;

// COLORS/

// Z-INDEXES
$layer-first: 0;
$layer-second: 10;
$layer-third: 20;
$layer-fourth: 30;
$layer-fifth: 40;
// Z-INDEXES/
